*{
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-image: url(https://learn.g2.com/hubfs/iStock-1199392165.jpg);
    background-size: cover;
    background-position: center;
}

.button-box{
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}