*{
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-image: url(https://learn.g2.com/hubfs/iStock-1199392165.jpg);
    background-size: cover;
    background-position: center;
}

.button-box{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#donate_button{
    background-color:brown;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: wheat;
    cursor: pointer;
    border-radius: 10px;
}

#donate_button:hover{
    border-radius: 15px;
    box-shadow: cadetblue;
}